#messages{
    background-color: #EEEEEE;
    margin: auto;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    text-align: left;
}

.bodyPage{
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: aqua;
}
